.logo {
    width: 6%;
}

.logo img {
    width: 100%;
    height: auto;
}

.search {
    width: 38%;
}

.search input{
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.links {
    margin-bottom: 0;
    display: flex;
    gap: 20px;
}

.links a{
    color: #FFF;
}

.links a:hover{
    color: #797979;
    text-decoration: none;
}


.home-container {
    width: 92vw;
    height: 100vh;
    display: flex;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
}

.event-card-content h3 {
    font-size: 20px;
}

.event-card-content h6, p {
    font-size: 13px;
    color: #797979;
}
