/* Preloader */
.preloader-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1038;
}

.events-loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1038;
}

.preloader-wrapper .circlespinner {
  stroke: #035aff;
}


.logo {
    width: 6% !important;
}

.logo img {
    width: 100%;
    height: auto;
}

.search {
    width: 38%;
}

.search input{
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.links {
    margin-bottom: 0;
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: end;
}

.links a{
    color: #FFF;
    text-decoration: none;
}

.links a:hover{
    color: #797979;
}


.home-container {
    width: 92vw;
    height: 100vh;
    display: flex;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
}

.event-card-img{
    width: 100%;
    height: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-card-img.card-header {
    background-color: #FFF!important;
}

.event-card-img img{
    width: 100%;
    height: auto;
    max-height: 100%;
}

.event-card-content h3 {
    font-size: 20px;
}

.event-card-content h6, p {
    font-size: 13px;
    color: #797979;
}

.event-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event-form .form-floating > input:focus{
    box-shadow: unset;
}


.event-form label,
.event-form select .selected,
.event-form option{
    color: #6F7275;
}

.flex-event-cep,
.flex-event-address,
.flex-date-capacity {
    display: flex;
    justify-content: space-between;
}

.flex-event-cep div{
    width: 33%;
}

.flex-event-address > div:first-child {
    width: 60%;
}

.flex-event-address > div:nth-child(2) {
    width: 20%;
}

.flex-event-address > div:nth-child(3) {
    width: 19%;
}

.flex-date-capacity div {
    width: 49.8%;
}

#description {
    resize: none;
}

/**/

.event-image {
    border: 1px solid #ced4da !important;
}

.file-choose-button {
    width: 158px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFDDDD;
    font-size: 12px;
    color: #565656;
    font-weight: 500 !important;
    cursor: pointer;
}

.event-image-cover {
    width: 105px;
    height: 90px;
}

.border-error {
    border: 1px solid #dc3545 !important;
}

.event-show-image {
    width: 450px;
    height: 260px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #999999;
}

.event-show-image img{
    width: 100%;
    height: 100%;
}

.event-show-infos {
    width: 30%;
}

.event-show-infos p {
    font-size: 16px;
}

.table tr td,
.table tr th {
    vertical-align: middle;
}

.table .table-8-percent {
    width: 8%;
}

.events-filter {
    padding-right: 1rem;
    width: 20%;
}

.events-main {
    width: 80%;
}

